.info-section {
  background-color: #f3f3f3;
  padding: 20px 0;

  i {
    display: block;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p {
    font-size: 0.7rem;
    color: #6c757d; // Grey color for text
  }
}
