.hero {
  position: relative;
  overflow: hidden;
}

.hero .carousel-item {
  position: relative;
}

.hero .hero__items {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hero .hero__text {
  color: #fff; /* White text color */
  text-align: left;
  max-width: 600px;
}

.hero .hero__text h6 {
  color: #e53637;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 850;
  margin-bottom: 30px;
}

.hero .hero__text h2 {
  color: black;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero .hero__text p {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding: 20px 0;
}


.hero .hero__social {
  margin-top: 20px;
}

.hero .hero__social a {
  color: #fff;
  font-size: 18px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.hero .hero__social a:hover {
  color: #f8f9fa; /* Light color for hover effect */
}

.hero .hero__social .fa {
  font-size: 24px;
}
/* Using a custom SVG icon */
.carousel-control-prev-icon {
  background-image: url("images/arrow/left-arrow.png");
  background-size: 100% 100%;
}

.carousel-control-next-icon {
  background-image: url("images/arrow/right-arrow.png");
  background-size: 100% 100%;
}
