.hero .primary-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: #000; /* Black background */
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
}

.hero .primary-btn:hover {
  background: #545353; /* Darker black */
}